.consultation{
   min-height: 680px;
   padding: 100px 0 92px 0;
   background: url(../img/bg2.png) center (center/cover) no-repeat;
   &__descr {
    margin-top: 80px;
    color: #ffffff;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
   }
   .error {
      border: 1px solid red;
      &:hover {
          box-shadow: 3px 3px 20px rgb(235, 9, 9); 
          border: none;
      }
  }
  label.error{
      color: #ffffff;
      border: none;
      text-align: center;
      margin-bottom: 15px;
      &:hover {
          box-shadow: none;
          border: none;
      }
  }
}